<!DOCTYPE html>
<html>
<head>
  <title>Logout</title>
</head>
<body>
  <h1>You have been logged out.</h1>
  <script>
    setTimeout(() => {
      window.location.href = '/returnlogin';
    }, 1000);
  </script>
</body>
</html>